body {
    font: 20px arial, sams-serif;
}

.margin-body {
    padding-bottom: 1px;
    padding-top: 10px;
}

.navbar {
    background-color: rgb(57, 117, 177);
}

.quem-somos {
    background-color: #73b743;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: rgba(49, 167, 222, 255);
}

.bg-footer {
    background-color: rgb(57, 117, 177);
    color: white;
}