body {
    font: 20px arial, sams-serif;
}

.navbar {
    background-color: rgb(51, 102, 153);
}

.quem-somos {
    background-color: rgb(55, 201, 11);
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #2e64fe;
}